header {
    background-color: #11abf33f;
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    transition: all 2s;
}

h1:hover {
    color: blue;
}

nav {
    background-color: #d9f0f5;
    width: 30%;
    height: 480px;
    float: left;
}

section {
    background-color: #eafafa;
    width: 70%;
    height: 480px;
    float: left;
}

iframe {
    width: 99%;
    height: 470px;
}

#numPermis, #nomPilote,#prenomPilote
{
    background-color: yellow;
    font-size: 16px;
}

#f2
{
    width: 600px;
    font-weight: bold;
}

#modele {
    margin-bottom: 80px;
}

#bloc1 {
    margin-left: 100px;
}

#bt3 {
    margin-left: 300px;
    margin-right: 50px;
}

#bt3, #bt4 {
    width: 90px;
    font-weight: bold;
}

#permis, #sec, #cond, #conf {
    background-color: yellow;
    font-size: 16px;
}
    
